@model BrandModel
@{
    ViewData["title"] = "Chỉnh sửa Thương Hiệu";
}
@section naviheader {
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/brand" class="nav-link">Thương Hiệu</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a class="nav-link">Chỉnh sửa</a>
        </li>
    </ul>
}
<div class="card card-primary" style="margin: 10px;">
    <div class="card-header">
        <h3 class="card-title">Chỉnh sửa Thương Hiệu</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form asp-action="Edit" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card-body">
            <div class="form-group">
                <label>Tên Thương Hiệu</label>
                <input asp-for="Name" class="form-control" placeholder="Nhập tên Thương Hiệu">
                <span asp-validation-for="Name" class="text-danger" />
            </div>
            <div class="form-group">
                <label>Mô tả</label>
                <textarea asp-for="Description" class="form-control" placeholder="Nhập mô tả Thương Hiệu"></textarea>
                <span asp-validation-for="Description" class="text-danger" />
            </div>
            <div class="form-group">
                <label>Trạng thái</label>
                <select asp-for="Status" class="form-control">
                    <option value="1">Hiển thị</option>
                    <option value="0">Ẩn</option>
                </select>
                <span asp-validation-for="Status" class="text-danger" />
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary">Xác nhận</button>
        </div>
    </form>
</div>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
