<div class="left-sidebar">
	<h2>Category</h2>
	<div class="panel-group category-products" id="accordian">

		<vc:categories></vc:categories>

	</div>

	<div class="panel-group category-products" id="accordian">

		<vc:brands></vc:brands>

	</div>

</div>