@model ProductModel
@{
    ViewData["title"] = "Thêm mới sản phẩm";
}
@section naviheader {
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/product" class="nav-link">Sản phẩm</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/product/create" class="nav-link">Thêm mới</a>
        </li>
    </ul>
}
<div class="card card-primary" style="margin: 10px;">
    <div class="card-header">
        <h3 class="card-title">Thêm mới sản phẩm</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card-body">
            <div class="form-group">
                <label>Tên sản phẩm</label>
                <input asp-for="Name" class="form-control" placeholder="Nhập tên sản phẩm">
                <span asp-validation-for="Name" class="text-danger" />
            </div>
            <div class="form-group">
                <label>Giá</label>
                <input asp-for="Price" class="form-control" placeholder="Nhập giá sản phẩm">
                <span asp-validation-for="Price" class="text-danger" />
            </div>
            <div class="form-group">
                <label>Danh mục</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories">
                    <option>--Chọn danh mục sản phẩm</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger" />
            </div>
            <div class="form-group">
                <label>Danh mục</label>
                <select asp-for="BrandId" class="form-control" asp-items="ViewBag.Brands">
                    <option>--Chọn thương hiệu sản phẩm</option>
                </select>
                <span asp-validation-for="BrandId" class="text-danger" />
            </div>
            <div class="form-group">
                <label>Ảnh</label>
                <div class="input-group">
                    <div class="input-group mb-3" >
                        <input asp-for="ImageUpload" type="file" class="form-control" placeholder="Recipient's username" style="height: 45px;">
                            <span asp-validation-for="ImageUpload"></span>
                            <img id="imgpreview" class="pt-2"/>
                    </div>
                </div>
               
            </div>

            <div class="form-group">
                <label>Mô tả</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary">Xác nhận</button>
        </div>
    </form>
</div>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
    <script>
        $("#ImageUpload").change(function (){
            readURL(this);
        })
    </script>
    <script>
        CKEDITOR.replace("Description");
    </script>
}
